body {
    height: 100%;
    margin: 0;
    position: relative;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.well {
	text-align: left;
	
	a {
		color: #5E7D7E;
		
	}
}

.article-text {
	text-align: justify;
	line-height: 1.5;
	
}

.navbar img {
    width: 10%;
    height: 10%;
    margin: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 30%;
}

.navbar img:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}

.category.recent-posts {
	width: 90%;
	text-align: left;
}
.block {
	text-align: left;
    padding: 10px 40px 10px 40px;
    margin: 40px;
	text-decoration-color: #000000;
    border: none;
	background-color: #ffffff;
}
/* nav panel */
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}


/* footer */

 
.panel-footer p {
    text-align: left;
	color: #e0e0e0;
    font-size: 14px;
    margin: auto;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}